.navbar{
  background-color: #35170C; /* Изменение цвета фона меню на коричневый */
  color: white;
}

.navbar-brand,
.nav-link,
.nav-link.disabled,
.dropdown-menu,
.nav-link .dropdown-toggle {
  color: white; /* Изменение цвета текста внутри элементов navbar-brand, nav-link, dropdown-item и nav-link.disabled на белый */
  line-height: "50px";
}

.nav-item.dropdown:hover .nav-link.dropdown-toggle{
  color: rgb(199, 192, 192); /* изменение цвета текста на сероватый при наведении */
}

.nav-link:hover{
  color: rgb(199, 192, 192); /* изменение цвета текста на сероватый при наведении */
}

.navbar-nav .nav-link {
  font-family: Arial Black, sans-serif; /* Устанавливаем шрифт */
  font-size: 14px; /* Устанавливаем размер текста */
}
.navbar-text{
  font-family: Arial Black, sans-serif; /* Устанавливаем шрифт */
  font-size: 14px; /* Устанавливаем размер текста */
  color: rgb(231, 204, 166);
}
